.square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgb(227, 227, 227);
  border-radius: 16px;
  cursor: pointer;
}

.square:hover {
  background-color: rgb(225, 225, 225);
}

.squareButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.squareX {
  position: relative;
}

.squareX::after,
.squareX::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 6px;
  height: 60px;
  background-color: rgb(176, 176, 176);
  border-radius: 16px;
  rotate: 45deg;
}

.squareX::before {
  rotate: -45deg;
}

.squareO {
  width: 60px;
  height: 60px;
  border: 6px solid rgb(176, 176, 176);
  border-radius: 100%;
}
